main {width:1920px; height:5000px; background:#f8f8f8;}
#wrap {}
#wrap .content {}
#wrap .content .brand {
    display:flex; flex-flow:row nowrap; width:1640px;
    padding:50px;
}
#wrap .content .brand .main {
    width:512px; height:643px;
}
#wrap .content .brand .main h1 {font-size:1.2rem; margin-bottom:15px;}
#wrap .content .brand div img {width:100%; height:100%; object-fit:cover; padding-right:20px;}
#wrap .content .brand .new {}
#wrap .content .brand .new h2 {font-size:1.5rem; font-weight:700; letter-spacing:1px; margin:50px 0 8px;}
#wrap .content .brand .new .brand-name {display:flex; align-items:center; gap:3px;}
#wrap .content .brand .new .brand-name p {font-size:0.875rem; color:#aaa;}
#wrap .content .brand .new .brand-name .name {border-right:1px solid #aaa; padding-right:3px;}
#wrap .content .brand .new ul {display:flex; flex-flow:row nowrap; margin-top:200px;}
#wrap .content .brand .new ul li {width:197px; height:277px; margin:0 10px;}
#wrap .content .brand .new ul li img {width:100%; height:100%; object-fit:cover; margin-bottom:8px;}
#wrap .content .brand .new ul li .text {}
#wrap .content .brand .new ul li .text h3 {margin-bottom:5px; font-weight:600;}
/* #wrap .content .brand .new ul li .text button {
    background:url(https://cdn-icons-png.flaticon.com/128/1077/1077035.png) no-repeat center;
    width:24px; height:24px;
}
#wrap .content .brand .new ul li .text > :nth-child(-n+2) {display:inline-flex; align-items:center; gap:6px;} */
#wrap .content .brand .new ul li .text p {margin-bottom:5px;}
#wrap .content .brand .new ul li .text .info {font-size:0.780rem; color:#aaa;}
#wrap .content .brand .new ul li .text .text_price {display:flex; flex-flow:row nowrap;}
#wrap .content .brand .new ul li .text .sale {margin-right:5px; color:#f00; font-weight:600; font-size:0.875rem;}
#wrap .content .brand .new ul li .text .price {font-weight:600;}
#wrap .content .recommend-section {
    width:1420px; height:800px; margin-left:30px;
}
#wrap .content .recommend-section .card {}
#wrap .content .recommend-section .card .info {display:flex; flex-flow:row nowrap; justify-content:space-between; margin:20px;}
#wrap .content .recommend-section .card .info h2 {font-size:1.15rem;}
#wrap .content .recommend-section .card .info a {}
#wrap .content .recommend-section .card ul {display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;}
#wrap .content .recommend-section .card ul li {width:200px; height:277px; margin:0 20px;}
#wrap .content .recommend-section .card ul li img {width:100%; height:100%;}
#wrap .content .recommend-section .card ul li h3 {padding-top:10px; font-size:1.05rem; font-weight:700; margin-bottom:5px;}
#wrap .content .recommend-section .card ul li p {}
#wrap .content .recommend-section .card ul li .info {
    font-size:0.875rem; margin:0 0 5px; padding:0; width:200px;
    white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
#wrap .content .recommend-section .card ul li .text_price {display:flex; flex-flow:row nowrap; text-align:center;}
#wrap .content .recommend-section .card ul li .sale {color:#f00; font-size:0.875rem; font-weight:600; margin-right:8px;}
#wrap .content .recommend-section .card ul li .price {font-weight:600;}
